body {
	font-family:verdana,sans-serif,arial;
	margin:0;
}

h1 {
	background-color:#000;
	margin:0;
	padding:0.5em;
}

	h1 a, h1 a:visited {
		color:#fff;
	}

a:visited {
	color:blue;
}

#content {
	margin:1em;
}

#execution {
	background-color:#ddd;	
	border:solid 1px #000;
	margin:0.5em 0;
	padding:1em;
}

	#execution h3 {
		margin:1em 0 0 0;
	}
