<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} » Javascript Kata on GitHub</title>
   <meta name="author" content="Dan Simard" /> 
   <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
		<!-- Load jquery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<!-- Load jsKataEx -->
		<script src="http://github.com/dsimard/jskata_examples/raw/master/jsKataEx.js"></script>
</head>
<body>
	<h1><a href="../">Javascript Kata on GitHub</a></h1>
	<div id="content">
		<h2>{{ page.title }}</h2>
		{{ content }} 
	</div>
	<script>jsKataEx.container($("#content"))</script>
</body>
</html>
